#about {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
    background: rgb(18,18,18);
    background: linear-gradient(0deg, rgba(18,18,18,1) 3%, 
        rgba(108,70,112,0.9304096638655462) 29%, 
        rgba(102,153,93,0.9808298319327731) 44%, 
        rgba(18,18,18,0.9332107843137255) 98%, 
        rgba(18,18,18,1) 100%);
    color:#D2D6D6;
}

#myName {
    font-family: 'Germania One';
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 10px;
    letter-spacing: 0.03em;
}

#myProf {
    display: flex;
    font-size: 25px;
    margin-bottom: 50px;
    text-align: center;
}

.petya {
    height: 500px;
    width: 500px;
    margin-bottom: 40px;
    border-radius: 10px;
    border: 10px solid rgb(53, 43, 43);
    opacity: 86%;
}

#aboutH {
    font-family: 'Germania One';
    font-size: 50px;
    margin-bottom: 10px;
    letter-spacing: 0.03em;
}

#aboutP {
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 0.1em;
}

@media screen and (max-width: 990px) {
    h2 {
        word-spacing: 0.1px;
        font-size: 21px;
        text-align: center;
    }

    .petya {
        height: 400px;
        width: 400px;
        margin-bottom: 20px;
    }

    #aboutH {
        font-size: 50px;
        margin-bottom: 5px;
    }

    #aboutP {
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 520px) {
    h2 {
        text-align: center;
        word-spacing: 0.1px;
        font-size: 13px;
    }

    .petya {
        height: 340px;
        width: 340px;
    }

    #aboutP {
        font-size: 15.1px;
        margin-bottom: 30px;
    }
}
