.contacts {
    flex-direction: column;
    align-items: center;
    display: flex;
    background: #121212;
    color: #D2D6D6;
    justify-content: center;
    padding-top: 50px;
}

#contactsH {
    font-family: 'Germania One';
    font-size: 60px;
    margin-bottom: 5px;
    letter-spacing: 0.03em;
}

#contactsP {
    font-size: 30px;
    margin-bottom: 50px;
}

#sendMessage {
    height: 50px;
    width: 250px;
    border-radius: 24px;
    background-color: rgb(169,3,41);
    color: #121212;
    font-size: 24px;
    margin-bottom: 50px;
}

#sendMessage:active{
    background-color: rgb(197,77,157);
}

#sendMessage:hover {
    background-color: rgb(197,77,157);
}

.links-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    padding-bottom: 50px;
}

@media screen and (max-width: 570px) {
    #contactsH {
        font-size: 50px;
        margin-bottom: 30px;
    }
    
    #contactsP {
        font-size: 25px;
        margin-bottom: 50px;
    }
    
    #sendMessage {
        font-family: 'Germania One';
        height: 50px;
        width: 250px;
        border-radius: 24px;
        background-color: rgb(169,3,41);
        color: black;
        font-size: 24px;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 480px) {
    .contacts {
        padding-top: 40px;
    }

    #contactsH {
        font-size: 40px;
        margin-bottom: 30px;
    }
    
    #contactsP {
        font-size: 20px;
        margin-bottom: 50px;
    }
    
    #sendMessage {
        font-family: 'Germania One';
        height: 50px;
        width: 250px;
        border-radius: 24px;
        background-color: rgb(169,3,41);
        color: black;
        font-size: 24px;
        margin-bottom: 100px;
    }
}